body {
	background:white;
	color: ;		
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	padding: 4%;

}

h1 {
	float: left;
	font-family: 'Droid Sans Mono', monospace;
	font-weight: lighter;
	padding-bottom: 20px;
	margin: auto;
}

h2 {
	padding: 0%;
}


nav ul li {
	background: white;
	color: black;
	display: inline-block;
	list-style-type:none;
	float: right;
	padding: 5px 25px;
}

.main-nav li a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.main-nav li a:hover {
	color: A084CA;
}

.banner {
	width: 100%;
	display: block;
}

.banner > .banner-image {
	width: 100%;
	display: block;
}

.qgis {
	width:50%;
	height:50%;
}

footer {
	font-size:10px;
	padding: 1%;

}