body {
	background:white;
	color: ;		
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	padding: 4%;

}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
}

h1 {
	float: left;
	font-family: 'Droid Sans Mono', monospace;
	font-weight: lighter;
	padding-bottom: 20px;
	margin: auto;
}

h2 {
	padding: 0%;
}


nav ul li {
	background: white;
	color: black;
	display: inline-block;
	list-style-type:none;
	padding: 5px 25px;
}

.main-nav{
	float: right;

}

.main-nav li a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.main-nav li a:hover {
	color: A084CA;
}

.banner {
	width: 100%;
	display: block;
}

.banner > .banner-image {
	width: 100%;
	display: block;
}

.qgis {
	width:50%;
	height:50%;
}

footer {
	font-size:10px;
	padding: 1%;

}


#map { position:absolute; top:0; bottom:0; width:80%; }

sidebar {position: fixed; left: 80%; padding: 1%; text-align: left;}